PORT = 5000
NODE_ENV = development

DATABASE_URL="xxxxxxxxxxxxxxxxxxx"

BETTER_AUTH_SECRET=xxxxxxxxxxxxxxxxxxxxxxx
BETTER_AUTH_URL= xxxxxxxxxxxxxxxxxxxxx

ACCESS_TOKEN_SECRET = xxxxxxxxxxxxxxxxxxxxx
ACCESS_TOKEN_EXPIRES_IN = 10d
BETTER_AUTH_SESSION_TOKEN_EXPIRES_IN = 7d
BETTER_AUTH_SESSION_TOKEN_UPDATE_AGE = 7d

EMAIL_SENDER_SMTP_USER = example@gmail.com
EMAIL_SENDER_SMTP_PASS = xxxx xxxx xxxx xxxx
EMAIL_SENDER_SMTP_HOST = smtp.gmail.com
EMAIL_SENDER_SMTP_PORT = 465


GOOGLE_CLIENT_ID = xxxxxxxxxxxxxxxxxxxxxxx
GOOGLE_CLIENT_SECRET = xxxxxxxxxxxxxxxxx
GOOGLE_CALLBACK_URL = xxxxxxxxxxxxxxxxxxxx

FRONTEND_URL = http://localhost:3000

CLOUDINARY_CLOUD_NAME = xxxxxxxxxx
CLOUDINARY_API_KEY = xxxxxxxxxxxxxxx
CLOUDINARY_API_SECRET = xxxxxxxxxxxxxxx